<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>840360395737-1kdv324sr75boj8r8q40a65hkl2vgge2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840360395737-1kdv324sr75boj8r8q40a65hkl2vgge2</string>
	<key>API_KEY</key>
	<string>AIzaSyAH6hZt1C_3I-CqY4V07BvUTF9KjZ_IPdY</string>
	<key>GCM_SENDER_ID</key>
	<string>840360395737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mvp.fanzplay.ios</string>
	<key>PROJECT_ID</key>
	<string>fanzplay-145505</string>
	<key>STORAGE_BUCKET</key>
	<string>fanzplay-145505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840360395737:ios:5a9810ea3403f893</string>
	<key>DATABASE_URL</key>
	<string>https://fanzplay-145505.firebaseio.com</string>
</dict>
</plist>